{% extends "bootstrap/base.html" %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{url_for('.static', filename='css/akkeri_base.css')}}">
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,700'
    rel='stylesheet' type='text/css'>
{% endblock %}

{% block title %}Akkeri{% endblock %}

{% block metas %}

  <meta property="og:title" content="Akkeri - Samtök sjálfboðaliða til hjálpar flóttafólki" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="{{request.url}}" />    

{% endblock %}

{% block navbar %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.5&appId=495371493862295";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

{% endblock %}
