{% macro teaser(post, thumb_size='120x120', thumb_crop=True,
                css_class='teaser', with_date=True, heading_level=3) %}
  {% set img = post.first_image %}
  <div class="{{ css_class }}">
    <h{{ heading_level }}>
      <a href="{{ post.get_url() }}">{{ post.title | safe }}</a>
    </h{{ heading_level }}>
    <div class="summary clearfix {% if img %}with-img{% else %}without-img{% endif %}">
      {% if img %}
        <img src="{{ img.image_path | thumbnail(thumb_size, crop=thumb_crop) }}" alt="{{ img.title }}" />
      {% endif %}
      {% if with_date %}
        <div class="dateline"><small>
            {{ post.published }}
            | {{ post.post_type.name_is }}
            | {{ post.images | count }} mynd{% if post.images | count != 1 %}ir{% endif %}
        </small></div>
      {% endif %}
      {{ post.summary | safe }}
    </div>
  </div>
{% endmacro %}


{% macro article_item_1(post, thumb_size='120x120', thumb_crop=True,
                css_class='teaser', with_date=True, heading_level=3) %}
  
  {% set img = post.first_image %}

    <div class="col-md-6 article-item-1">
        <img src="/static/images/2016/01/14/portrait_thumb.jpg" class="author_image">
        <div class"meta">
            <span class="type">{{ post.post_type.name_is }}</span>
            <span class="author">Nafn. N. Nafnsson</span>
            <span class="date">{{ post.published }}</span>
        </div>
        <h2 class="title">{{ post.title | safe }}</h2>
        <p class="teaser">{{ post.summary | safe }}</p>
    </div>
{% endmacro %}


{% macro article_item_2(post, thumb_size='120x120', thumb_crop=True,
                css_class='teaser', with_date=True, heading_level=3) %}

    <div class="row article-item-2">
        <div class="col-md-6">
          {% set img = post.first_image %}
          {% if img %}
          <img src="{{ img.image_path| thumbnail('590x315', crop=True) }}"
          class="article_image">
          {% endif %}
        </div>
        
        <div class="col-md-6">
            <div class"meta">
                <span class="type">{{ post.post_type.name_is }}</span>
                <span class="author">{{ post.author.fullname }}</span>
                <span class="date">{{ post.published }}</span>
            </div>
            <h2 class="title">{{ post.title | safe }}</h2>
            <p class="teaser">{{ post.summary | safe }}</p>
        </div>
    </div>

{% endmacro %}


{% macro article_item_3(post, thumb_size='120x120', thumb_crop=True,
                css_class='teaser', with_date=True, heading_level=3) %}

{% endmacro %}

{% macro article_item_default(post=None) %}

{% endmacro %}

{% macro cover_post(post) %}
    <div class="cover-news shrinkin">
			{% if post.first_image %}
				<img src="{{ post.first_image.image_path | thumbnail('1200x610', crop=True) }}" class="image">
			{% else %}
				<img src="/static/cache/tn/2015/11/12242089_10154509916183438_1006218838_n_720x540_1_80.jpg" class="image">
			{% endif %}
			 <div class="info">
            <div class="meta">
                <span class="type"><i class="fa fa-newspaper-o"></i>{{ post.post_type.name_is }}</span>
                <span class="author"><i class="fa fa-user"></i>{{ post.author.fullname }}</span>
                <span class="location"><i class="fa fa-map-marker"></i>Reykjavík</span>
                <span class="date"><i class="fa fa-calendar"></i>{{ post.published }}</span>
            </div>
            <h1 class="title">{{ post.title | safe }}</h1>
            <p class="teaser">{{ post.summary | safe }}</p>
            <a href="#" class="more">Lesa meira</a>
        </div>
    </div>
{% endmacro %}


{% macro page_header() %}
    <div class="nav-bar">
        <div class="logo">Akkeri</div>
    </div>
{% endmacro %}

{% macro footer() %}
    <div class="footer shrinkin">
        <div class="content">
            <h1 style="color: white; text-align: center;"> FOOTER </h1>
        </div>
    </div>
{% endmacro %}


{% macro article_list(posts) %}
    <div class="article-list">
    {% for post in posts %}
		{% if post.post_display %}
			{% set display = post.post_display[0].display %}
			{% if display== 'cover_post' %}
				</div>
				{{ cover_post(post) }}
				<div class="article-list">
			{% else %}
				{{ display | getattr(post) }}
			{% endif %}
		{% else %}
			{{ article_item_1(post) }}
		{% endif %}
    {% endfor %}
    </div>
{% endmacro%}
