{% macro article_item_1(post, thumb_size='120x120', thumb_crop=True,
                css_class='teaser', with_date=True, heading_level=3) %}

  {% set img = post.first_image %}

    <div class="col-sm-6 post article-item-1">
     <div class="wrapper">
        <img src="{{ post.author.image|thumbnail('150x150', crop=True) }}" class="author-image">
        <div class="meta">
            {#<span class="type"><i class="fa fa-newspaper-o"></i>{{ post.post_type.name_is }}</span>#}
            <span class="author"><i class="fa fa-user"></i>{{ post.author.fullname }}</span>
            {# <span class="date"><i class="fa fa-calendar"></i>
            {{ post.published| format_date }}</span>#}
        </div>
        <a href="{{ post.get_url() }}" class="title">
            {{ post.title | safe }}
        </a>
        <div class="teaser">
            <img src="{{ post.first_image | thumbnail('88x88', crop=True)}}" class="image"> 
            {{ post.summary | safe }}
        </div>
      </div>
    </div>
{% endmacro %}



{% macro article_item_2(post, thumb_size='120x120', thumb_crop=True,
                css='article-item-2', with_date=True, heading_level=3) %}

    <div class="row post {{ css }}">
      <div class="wrapper">
        <div class="col-sm-6 image">
          <img src="{{ post.first_image | thumbnail('590x315', crop=True) }}" class="article-image">
        </div>

        <div class="col-sm-6 content">
            <div class="meta">
                {#<span class="type"><i class="fa fa-newspaper-o"></i>{{ post.post_type.name_is }}</span>#}
                <span class="author"><i class="fa fa-user"></i>{{ post.author.fullname }}</span>
                {#<span class="date"><i class="fa fa-calendar"></i>{{
                post.published|format_date }}</span>#}
            </div>
            <a href="{{ post.get_url() }}" class="title">
                {{ post.title | safe }}
            </a>
            <img src="{{ post.first_image | thumbnail('110x110', crop=True) }}"
                class="image-sm">
            <div class="teaser">{{ post.summary | safe }}</div>
        </div>
      </div>
    </div>

{% endmacro %}


{% macro article_item_3(post) %}
   {{ article_item_2(post, css='article-item-3') }}
{% endmacro %}

{% macro article_item_default(post=None) %}

{% endmacro %}

{% macro cover_post(post) %}
    <div class="cover-post shrinkin">
			{% if post.first_image %}
				<img src="{{ post.first_image | thumbnail('1200x610', crop=True) }}" class="image">
			{% else %}
				<img src="/static/cache/tn/2015/11/12242089_10154509916183438_1006218838_n_720x540_1_80.jpg" class="image">
			{% endif %}
			 <div class="info">
            <div class="meta">
                <span class="type hidden-xs"><i class="fa fa-newspaper-o"></i>{{ post.post_type.name_is }}</span>
                <span class="author"><i class="fa fa-user"></i>{{ post.author.fullname }}</span>
                <span class="location"><i class="fa fa-map-marker"></i>Reykjavík</span>
                <span class="date hidden-xs"><i class="fa fa-calendar"></i>{{
                post.published|format_date }}</span>
            </div>
            <a href="{{ post.get_url() }}" class="title">
                {{ post.title | safe }}
            </a>
            <div class="teaser hidden-xs">{{ post.summary | safe }}</div>
            <a href="{{ post.get_url() }}" class="more hidden-xs">Lesa meira</a>
        </div>
    </div>
{% endmacro %}


{% macro page_header() %}
    <div class="nav-bar hidden-xs">
        <div class="logo">Akkeri</div>
    </div>

    <div class="nav-bar xs visible-xs">
        <a href="#" class="logo">Akkeri</a>
    </div>
{% endmacro %}

{% macro footer() %}
    <div class="footer shrinkin">
        <a href="/page/270_spurt-og-svarad/" class="sticky">Spurt og Svarað</a>
        <div class="content row facebook">
            <div class="col-sm-6 text-center">
                <div style="width: 100%; overflow: hidden" class="fb-page"
                data-href="https://www.facebook.com/akkeriflottahjalp/"
                data-small-header="false" data-adapt-container-width="true"
                data-hide-cover="false" data-show-facepile="true"><div
                class="fb-xfbml-parse-ignore"><blockquote
                cite="https://www.facebook.com/akkeriflottahjalp/"><a
                href="https://www.facebook.com/akkeriflottahjalp/">Akkeri</a></blockquote></div></div>
            </div>
        </div>
        <!--<div class="row content">
            <div class="col-sm-12">
                <h4 class="sponsors mt-15"> Styrktaraðilar </h4>
                <img class="sponsore clear mt-15" src="/static/assets/premis.png">
            </div>
        </div>-->
        <div class="row">
            <div class="col-lg-12 text-center logo-wrapper">
                <p class="text-center white-font">Hafa samband: <a
                href="mailto:akkeriflottahjalp@gmail.com" class="gold-font">akkeriflottahjalp@gmail.com</a></p>
                <div class="logo">Akkeri</div>
            </div>
        </div>
    </div>
{% endmacro %}


{% macro article_list(posts) %}
    <div class="article-list">
    {% for post in posts %}
		{% if post.post_display %}
			{% set display = post.post_display.label %}
			{% if display == 'cover_post' %}
				</div>
				{{ cover_post(post) }}
				<div class="article-list">
			{% else %}
				{{ display | getattr(post) }}
			{% endif %}
		{% else %}
			{{ article_item_1(post) }}
		{% endif %}
    {% endfor %}
    </div>
{% endmacro%}
