{% extends  "base.html" %}
{% import "macros.html" as fp %}

{% block metas %}
    <meta property="fb:app_id" content="1107231556015325" />
    <meta property="og:title" content="">
    <meta property="og:type" content="article">
    <meta property="og:url" content="{{ request.url }}">
    <meta property="og:image" content="http://{{ request.headers['host'] }}{{ post.first_image | thumbnail('500x', crop=True)}}">
{% endblock %}
{% block title %}{{ post.title |safe }}{% endblock %}

{% block content %}
<div class="container post-page">
  <div class="post-content-wrapper"> 
    <div class="col-sm-8 col-md-9 article right">
       <div class="nav-bar xs visible-xs">
            <a href="/" class="logo">Akkeri</a>
       </div>
        <div class="wrapper">
            {{ the_article() }}
        </div>
    </div>

    <div class="col-sm-4 col-md-3 side-bar left">
        {{ menu() }}
        {{ suggested_posts() }}
    </div>
 </div>
{{ fp.footer() }}
</div>
{% endblock %}

{% macro menu() %}
   <div class="nav-bar hidden-xs">
        <a href="/" class="logo">Akkeri</a>
        <!--<div class="menu-items">
            <h4>SÖGUR</h4>
            <h4>GREINAR</h4>
            <h4>FRÉTTIR</h4>
            <h4>UPPLÝSINGAR</h4>
        </div>-->
   </div>
{% endmacro %}

{% macro suggested_posts() %}
    {% for post in side_posts %}
        <div class="item teaser">
            <a class="title" href="{{ post.get_url() }}">
                {{ post.title | safe }}
            </a>
            <img src="{{ post.author.image|thumbnail('150x150', crop=True) }}"
            class="author-image">
            <h5 class="author"><i class="fa fa-user"></i>
                {{ post.author.fullname }}
            </h5>
            <div class="teaser">{{ post.summary | safe }}</div>
        </div>
    {% endfor %}
{% endmacro %}


{% macro the_article() %}

    {% if post.cover_image and not post.post_type=="page" %}
      <div class="image-wrapper">
        <img src="{{ post.cover_image | thumbnail('720x', crop=True) }}"
        class="main-image" />
        {% if post.author_visible  %}
            <img src="{{ post.author.image | thumbnail('150x150', crop=True) }}"
            class="author-image">
        {% endif %}
      </div>
    {% endif %}
        {% if not post.post_type_id == 5 %}
    <div class="article-body">
            {% if post.author_visible %}
            <div class="meta">
                <span class="name"><i class="fa fa-user"></i>{{
                post.author.fullname }}</span>
                {% if post.location %}
                    <span class="location ml-15">
                        <i class="fa fa-globe"></i>{{ post.location }}</span>
                {% elif post.author.user_location %}
                    <span class="location ml-15">
                        <i class="fa fa-globe"></i>{{ post.author.user_location
                        }}</span>
                {% else %}
                    <span class="date"><i class="fa fa-calendar"></i>{{
                    post.published|format_date }} </span>
                {% endif %}
                <div class="fb-wrapper mt-10">
                    <div class="fb-like" data-href="{{ request.url }}" data-layout="button" data-action="like" data-show-faces="true" data-share="true" style="margin: 0px;"></div>
                </div>
            </div>
            {% else %}
            <div class="meta">
                <div class="fb-wrapper mt-10">
                    <div class="fb-like" data-href="{{ request.url }}" data-layout="button" data-action="like" data-show-faces="true" data-share="true" style="margin: 0px;"></div>
                </div>
            </div>
            {% endif %}
        {% else %}
    <div class="article-body page">       
            <br><br>
        {% endif %}

        <h2>{{ post.title | safe }}</h2>

        <div class="post-content">{{ post.body |safe }}</div>

        <div class="fb-like" data-href="{{ request.url }}"
        data-layout="standard" data-action="like" data-show-faces="true"
        data-share="true"></div>

        <div class="fb-comments"
        data-href="{{ request.url }}"
        data-numposts="5"></div>
    </div>
{% endmacro %}
