{% import 'admin/model/inline_list_base.html' as base with context %}

{% macro render_field(field) %}
    {% set model = field.object_data %}
    {% if model %}
      <div class="existing-image">
          {{ field.form.id }}
          <img class="image-src" src="{{ model.image_path | thumbnail('200x200', crop=True) }}" ></img>
          <div class="hidden">
            {{ field }}
          </div>
          <div class="edit">
            {{ _gettext('Edit') }}
          </div>
      </div>
    {% else %}
      {{ field }}
    {% endif %}
{% endmacro %}

{{ base.render_inline_fields(field, template, render_field) }}

